# Virtual environments
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Environment secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db